@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

body {
	font-family: 'Noto Sans KR', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url(../img/bg-hero-back.png) no-repeat center;
	/* background-size: cover, contain; */
	background-size: cover;
}
body::before {
	content: "";
	position: absolute; z-index: 1;
	top: 0; right: 0; bottom: 0; left: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, .7);
}
a { text-decoration: none; }

@media screen and (min-width:800px) {
	.container {
		display: flex; justify-content: center; align-items: center;
		flex-shrink: 1;
		width: 100%; height: 100vh;
		background: url(../img/bg-hero.png) no-repeat center;
		background-size: 400px 400px;
		/* background-color: rgba(0, 0, 0, .7); */
		/*border-style: solid; border-width: 5px; border-color: rosybrown;*/
	}
}
@media screen and (max-width:800px) {
	.container {
		display: flex; justify-content: center; align-items: center;
		flex-shrink: 1;
		width: 100%; height: 100vh;
		background: url(../img/bg-hero.png) no-repeat center;
		background-size: 300px 300px;
		/* background-color: rgba(0, 0, 0, .7); */
		/*border-style: solid; border-width: 5px; border-color: rosybrown;*/
	}
}

/*.login-form {position: relative; z-index: 2;}*/
.login-form {
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    width: 80%; height: 70vh; z-index: 2;
}
.login-form h1 {
	font-size: 32px; color: #ffff;
	text-align: center;
	margin-bottom: 60px;
}

.int-area {
	width: 100%; position: relative;
	margin-top: 20px;
}
.int-area:first-child {margin-top: 0;}
.int-area input {
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999;
	font-size: 18px; color: #fff;
	outline: none;
}
.int-area label {
	position: absolute; left: 10px; top: 15px;
	font-size: 18px; color: #999;
	transition: all .5s ease;
}
.int-area label.warning {
	color: red !important;
	animation: warning .2s ease;
	animation-iteration-count: 2;
}
@keyframes warning {
	0% {transform: translate3d(-5px, -1px, 0px);}
	25% {transform: translate3d(5px, 1px, 0px);}
	50% {transform: translate3d(-5px, -1px, 0px);}
	75% {transform: translate3d(5px, 1px, 0px);}
}
.int-area input:focus + label,
.int-area input:valid + label,
.int-area label.invalid-email,
.int-area label.invalid-pw-confirm {
	top: -2px;
	font-size: 13px; color: #166cea;
}
.btn-area {margin-top: 30px;}
.btn-area button {
	width: 100%; height: 40px;
	background: #166cea;
	color: #fff;
	font-size: 15px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

.caption {
	margin-top: 20px;
	text-align: center;
}
.caption a {
	font-size: 15px; color: #ccc;
}
.caption_div, .caption_login {
	font-size: 15px; color: #999;
	margin-left: 10px;
	margin-right: 10px;
}

.container { border-style: solid; border-width: 5px; border-color: red; }
/* .login-form { border-style: solid; border-width: 5px; border-color: green; }
.login-form h1 { border-style: solid; border-width: 5px; border-color: goldenrod; }
.int-area { border-style: solid; border-width: 5px; border-color: blueviolet; }
.btn-area { border-style: solid; border-width: 5px; border-color: rosybrown; }
.caption { border-style: solid; border-width: 5px; border-color: yellow; } */